@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: #eee;
}

body{
  height: 100vh;
  width: 100%;
  background: #111;
  color: #eee;
}

.container{
  padding: 5% 7% 0 7%;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
  cursor: pointer;
  transition: background ease .4s;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar-button {
  display: none;
}